<div id="statusalerts" class="statusalerts">
	<% if notice %>
		<p class="notice success alert-box"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert error alert-box"><%= alert %></p>
	<% end %>
</div>