<%= render "devise/shared/navbar" %>

<div class="main">

	<div class="yourlocation" id="yourlocation">

		<div id="map">
			<div class="loading">  
				<%= image_tag "loading.gif" %>
			</div> 
		</div>
		<div class="submap">
			<div id="status" class="status">
				<% if notice %>
					<p class="notice success alert-box"><%= notice %></p>
				<% end %>
				<% if alert %>
					<p class="alert error alert-box"><%= alert %></p>
				<% end %>
			</div>
			<div class="userid" id="roomid"></div>
		</div>

		<script>
			setTimeout(fade_out, 5000);

			 function fade_out() {
			  $(".notice").fadeOut(2000, function() { 
					$(".notice").remove();
			  });
			  $(".alert").fadeOut(2000, function() { 
			 		$(".alert").remove();
			  });
			}
			var dropdown = document.getElementById("maindropdown");
			document.getElementById("dropdownbutton").onclick = function() {
				if (dropdown.style.display != "block") {
					dropdown.style.display = "block"; 
				} else {
					dropdown.style.display = "none";
				}
			}

			var dropdowninvite = document.getElementById("dropdowninvite");
			dropdowninvite.onclick = function(){ 
				populateUserList({ invite: true, remove: false });
				document.getElementById("maindropdown").style.display = "none";
			}

			var dropdownremove = document.getElementById("dropdownremove");
			dropdownremove.onclick = function(){
				populateUserList(options = {invite: false, remove: true});
				document.getElementById("maindropdown").style.display = "none";
			}

			gon.watch("user", function(result){
		    if (result.room == result.id) {
		      document.getElementById("dropdownleave").style.display = "none";
		      document.getElementById("dropdowninvite").style.display = "block";
		      document.getElementById("dropdownremove").style.display = "block";
		    } else {
		      document.getElementById("dropdownleave").style.display = "block";
		      document.getElementById("dropdowninvite").style.display = "none";
		      document.getElementById("dropdownremove").style.display = "none";
		    }
		  });

	    document.getElementById("dropdowninvite").onclick = function(){
	      document.getElementById("maindropdown").style.display = "none";
	      populateUserList({ invite: true, remove: false });
	    };

	    document.getElementById("dropdownleave").onclick = function() {
	      document.getElementById("maindropdown").style.display = "none";
	      goHome();
	    };

	    document.getElementById("dropdownremove").onclick = function() {
	      document.getElementById("maindropdown").style.display = "none";
	      populateUserList(options = {invite: false, remove: true});
	    };


		</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjXhmnA63FsuAVIrTzKRG_D5SJZrDrqg&callback=initMap" async defer></script>
	</div>

</div>
