.main {
	display: block;
	position: absolute;
	border: 0px solid green;
	height: 98%;
	width: 98%;
}

.title {
	border: 0px solid blue;
	font-size: 2em;
	padding-left: 0%;
	text-align: center;
}

.yourlocation {
	border: 0px solid red;
	height: 92.75%;
}

.tracking {
	padding-left: 3%;
}

.signout {
	float: right;
	position: relative;
	z-index: 5;
	padding-right: 3%;
}

.userid {
	text-align: center;
	padding-bottom: 2%;
}

.login {
	text-align: center;
}

#map {
	height: 80%;
}

.alert-box {
		color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.error {
    background:#ffecec;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9;
    border:1px solid #a6ca8a;
}

.notice {
	color: green;
}

.alert {
	color: red;
}


.loading {
	text-align: center;
	padding-right: 45%;
	padding-top: 20%;
	height: 100%;
}

.loading img {
	position: absolute;
  width: 45%;
}

@media (min-width:720px) {
	.loading {
		padding-right: 30%;
		padding-top: 10%;
	}

	.loading img {
  width: 30%;
	}
}

@media (min-width:960px) {
	.loading {
		padding-right: 20%;
		padding-top: 10%;
	}

	.loading img {
  width: 20%;
	}
}