.statusalerts {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  width: 100vw;
}

.login {
	background-image: image-url("loginbg.png");
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 100vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

.mainlogo {
    background-image: image-url("markcologo.png");
    background-size: contain;
		background-size: 70%;
    background-position-y: 18vh;
    background-repeat: no-repeat;
    height: 37vh;
    background-position-x: center;
}

.signuplogo {
    background-position-y: 8vh;
		height: 25vh;
}

.field {

}

.forgotpassword {
	margin-left: 15%;
  width: 70%;
  font-size: 0.7em;
}

.forgotpassword a {
		text-decoration: none;
    color: white;
    float: right;
    padding-left: 25vw;
    font-weight: bolder;
    outline-width: 0px;

}

.resendconfirmation, .signuplogin {
  width: 100%;
  font-size: 0.7em;
}

.resendconfirmation a, .signuplogin a {
		text-decoration: none;
    color: white;
    outline-width: 0px;
}

.field label {
  margin-bottom: 0px;
  color: white;
}


.signup {
	font-size: 0.9em;
		margin-top: 10vh;
		color: white;
		font-weight: 100;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.signup a {
		letter-spacing: 2px;
    font-size: 1.5em;
    font-variant: small-caps;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: "Century Gothic Bold", CenturyGothicBold, AppleGothic, sans-serif;
    outline-width: 0px;
}

.forgotpassword a:hover {
		color: #D9D9D9;
}

.signup a:hover, .signuplogin a:hover, .resendconfirmation a:hover {
		color: #D9D9D9;
}

input[type=text], input[type=text], input[type=email], input[type=password] {
		width: 70%;
    padding: 10px 15px 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px;
    outline-color: white;
    outline-width: 0px;
    outline-offset: -5px;
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 1.4px;
    font-size: 1em;
    color: white;
}

::-webkit-input-placeholder {
   color: #D9D9D9;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}



input[type=submit] {
		margin-top: 3vh;
    padding: 12px 20px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 2px;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    outline-width: 0px;
}

input[type=submit]:hover {
	color: #D9D9D9;
}



.field_with_errors input {
	background-color: rgba(255, 255, 255, 0.6);
	-webkit-text-fill-color: red !important;
}




@media (min-width:750px) {
	.mainlogo {
		background-size: 50%;
    background-position-y: 15vh;
  }

  .signuplogo {
  	background-size: 40%;
    background-position-y: 5vh;
	}
}

@media (min-width:1280px) {
	.mainlogo {
		background-size: 40%;
    background-position-y: 10vh;
  }

  .signuplogo {
  	background-size: 35%;
    background-position-y: 5vh;
	}
}


