.navbar-markco {
    background-color: #c52b25;
    color: white;
    height: 9vh;
    padding-top: 1.2vh;
    display: flex;
}

.coverdropdown {
    background-color: #c52b25;
    color: white;
    height: 9vh;
    padding-top: 1.2vh;
    display: flex;
}

.navleft {
    border: 0px solid white;
    height: 7vh;
    width: 7vh;
    margin-right: auto;
    margin-left: 7vw;
}

.navmiddle {
    border: 0px solid white;
    height: 7vh;
    width: 6vh;
    margin-right: auto;
}

.navright {
    border: 0px solid white;
    height: 7vh;
    width: 7vh;
    margin-right: 7vw;
}

#avatar {
    border: 3px solid white;
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    margin-left: 0.35vh;
    margin-top: 0.3vh;
}

.iconlogo {
    background-image: image-url("markcoiconlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.8vh;
    height: 5vh;
    margin-left: 1.7px;
}

.hamburger {
    font-size: 5vh;
    margin-top: 0.8vh;
    margin-left: 0.8vh;
}

.hamburger:hover {
    cursor: pointer;    
}

.dropdown-nav {
    display: none;
    float: right;
    position: relative;
    z-index: 10;
    background-color: rgba(197, 43, 37, 0.75);
    width: 43vw;
    color: white;
    border-radius: 0px 0px 0px 20px;
    padding-bottom: 3vh;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {-webkit-transform:translatex(200px); opacity: 0} 
    to {-webkit-transform:translatex(0px); opacity: 1}
}

@keyframes animatetop {
    from {transform:translatex(200px); opacity: 0}
    to {transform:translatex(0px); opacity: 1}
}


.dropdown-nav ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.dropdown-nav li {
    padding-top: 3vh;
    font-size: 1.2em;
}

.dropdown-nav li:hover, #dropdownprofile a:hover {
    color: #D9D9D9;
}

.dropdown-email {
    color: #d9d9d9;
    padding-left: 1vh;
    padding-top: 2vh;
    width: 100%;
    border: 0px solid white;
    text-align: center;
    font-size: 0.85em;
}

.dropdown-signout {
    text-align: center;
    width: 15vh;
    font-size: 0.85em;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

.dropdown-signout a, #dropdown-tracking a, #dropdownprofile a {
    text-decoration: none;
    color: white;
}

.dropdown-signout:hover, .dropdown-signout a:hover {
    color: white;
    background-color: rgba(197, 43, 37, 0.75);
    text-decoration: none;
    cursor: pointer;
}

.dropdown-tracking {
    text-align: center;
    margin-top: 3vh;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;
}

.dropdown-toggleswitch {
    background-image: image-url("toggle-on.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.8vh;
    height: 5vh;
    margin-left: 1.7px;
}

.dropdown-toggleswitch:hover, .dropdown-tracking:hover {
    cursor: pointer;
}

.dropdown-tracking img {
    width: 8vh;
    margin-left: 1.5vw;
}

.active-page {
    height: 5vh;
    width: 5vh;
    border: 1px solid black;
    border-radius: 100%;
}



